// Place all the styles related to the offer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.offers {
  td:first-child {
    vertical-align: top;
  }

  td:last-child {
    width: 300px;
  }
}

.offer {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid;
  button {
    display: block;
    float: right;
    position: relative;
    top: -25px;
    right: 0px;
    margin: 10px 0;
  }
}